<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">

		<title>{{ block('title') }} - CSBill</title>
		<meta name="description" content="">

		<meta name="viewport" content="width=device-width">

		{% stylesheets
			'bundles/cscore/css/boilerplate.css'
			'bundles/cscore/less/styles.less'
			filter="less,cssrewrite,?yui_css"
		%}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
		{% endstylesheets %}

		<script type="text/javascript" src="{{ asset('js/modernizr.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/loader.js') }}"></script>
	</head>
	<body>
		<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
		<header>
			{{ block('header') }}
		</header>

		<section role="main" class="container-fluid">
			{{ block('container') }}
		</section>

		<footer align="center">
			{{ block('footer') }}

			<hr />
			Powered by <a href="#" title="CSBill">CSBill</a>
		</footer>

		{% javascripts
			"@CSCoreBundle/Resources/public/js/jquery.js"
			"@CSCoreBundle/Resources/public/js/bootstrap.min.js"
			"@CSCoreBundle/Resources/public/js/underscore.js"
			"@CSCoreBundle/Resources/public/js/backbone.js"
			"@BazingaExposeTranslationBundle/Resources/public/js/translation.js"
			filter="?yui_js"
		%}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}

		<script src="{{ url('bazinga_exposetranslation_js') }}"></script>

		{% javascripts
		    "@CSCoreBundle/Resources/public/js//plugins.js"
			"@CSCoreBundle/Resources/public/js//script.js"
			filter="?yui_js"
		%}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}

	</body>
</html>
