<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">

		<title>{{ block('title') }}</title>
		<meta name="description" content="">

		<meta name="viewport" content="width=device-width">

		{% stylesheets
			'bundles/cscore/css/boilerplate.css'
			'bundles/cscore/less/styles.less'
			filter="less,cssrewrite,?yui_css"
		%}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
		{% endstylesheets %}

		<script type="text/javascript" src="{{ asset('js/modernizr.min.js') }}"></script>
	</head>
	<body>
		<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
		<header>
			<nav class="navbar navbar-fixed-top navbar-inverse">
				<div class="navbar-inner">
					<div class="container-fluid">
						<a class="brand" href="#">{{ "CSBill Installation"|trans }}</a>
					</div>
				</div>
			</nav>
		</header>

		<div role="main" class="container">
			<div class="row-fluid">
				{% block sidebar %}
					<aside class="span3 installation-progress">
						<div class="well">
							<ul class="nav nav-list">
								<li class="nav-header">
									{{ "Installation Progress"|trans }}
								</li>
								{% for progress in installer.steps %}
									<li{% if installer.active is sameas(progress) %} class="active"{% endif %}>
										<a href="#">{{ progress|humanize|title|trans }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</aside>
				{% endblock %}

				<section class="span9 content">
					{{ block('content') }}
				</section>
			</div>
		</div>

		<hr />

		<footer align="center">
			<small>Powered by <a href="#">CSBill</a>
		</footer>

		{% javascripts
			"@CSCoreBundle/Resources/public/js/jquery.js"
			"@CSCoreBundle/Resources/public/js/bootstrap.min.js"
			"@CSCoreBundle/Resources/public/js//plugins.js"
			"@CSCoreBundle/Resources/public/js//script.js"
			filter="?yui_js"
		%}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}

		<script>
			$(function(){
				{{ block('script') }}
			});
		</script>
	</body>
</html>
