{% extends "CSCoreBundle:Layout:sidebar.html.twig" %}

{% block title %}{{ 'Add Client'|trans }}{% endblock %}

{% block content %}
    <h1>{{ "Add Client"|trans }}</h1>

    <form action="{{ path("_client_add") }}" method="post"{{ form_enctype(form) }}>

    	{{ form_widget(form) }}

    	<div class="control-group">
    		<div class="controls">
    			<input type="submit" value="{{ "save"|trans }}" class="btn" />
    		</div>
    	</div>
    </form>
{% endblock %}
