{% extends "CSInstallerBundle::layout.html.twig" %}

{% block title %}{{ "CSBill Installation"|trans }} - {{ step.title|trans }}{% endblock %}

{% block content %}
	<fieldset>
		<legend>
			<h1>{{ step.title|trans }}</h1>
		</legend>

		{% if step.errors|length %}
			{% for error in step.errors %}
				<div class="alert alert-danger">
			        	<button class="close" data-dismiss="alert">x</button>
			        	{{ error|trans }}
			        </div>
			{% endfor %}
		{% endif %}

		<form action="{{ path("_installer") }}" method="post">
			<div class="row well">

				{% include step.view %}

				<div class="control-group pull-right" id="next_button">
					<input type="submit" class="btn" value="{{ "Next"|trans }}" />
				</div>
			</div>
		</form>
	</fieldset>
{% endblock %}
