{% extends "CSInstallerBundle::layout.html.twig" %}

{% block title %}{{ "CSBill Installation"|trans }}{% endblock %}

{% block content %}
	<fieldset>
		<legend>
			<h1>{{ "License Agreement"|trans }}</h1>
		</legend>
		
		<div class="control-group">
			<textarea rows="20" style="width:100%">{{ license }}</textarea>
		</div>
		
		<div class="row">
			<div class="control-group pull-left">
				<input type="checkbox" id="accept_license" name="accept" /> <label class="inline" for="accept_license">{{ "I agree to the license agreement"|trans }}</label>
			</div>
		
			<div class="control-group hide pull-right" id="next_button">
				<input type="submit" class="btn" value="{{ "Next"|trans }}" />
			</div>
		</div>
	</fieldset>
{% endblock %}

{% block script %}
	$('#accept_license').on('change', function(){
		if($(this).is(':checked'))
		{
			$('#next_button').show();
		} else {
			$('#next_button').hide();
		}
	});
{% endblock %}
