{% extends 'CSCoreBundle::layout.html.twig' %}

{% block title %}{{ 'CSBill'|trans }}{% endblock %}

{% block header %}
	<nav class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">{{ 'CSBill'|trans }}</a>
				</div>
			</div>
		</nav>
{% endblock %}

{% block content %}
	<fieldset>
	    <div class="row">
			<div class="offset3 span6">

				 <legend><h2>{{ 'Login'|trans }}</h2></legend>

			    {% if error %}
			        <div class="alert alert-danger">
			        	<button class="close" data-dismiss="alert">x</button>
			        	{{ error.message }}
			        </div>
			    {% endif %}

			    <div class="well">
				    <form action="{{ path("_security_check") }}" method="post" id="login">
				        <div class="input-prepend">
				            <label for="username">{{ 'Username'|trans }}</label>
				            <span class="add-on"><i class="icon-user"></i></span>
				            <input type="text" id="username" name="_username" placeholder="{{ 'Username'|trans }}" value="{{ last_username }}" />
				        </div>

				        <div class="input-prepend">
				            <label for="password">{{ 'Password'|trans }}</label>
				            <span class="add-on"><i class="icon-lock"></i></span>
				            <input type="password" id="password" placeholder="{{ 'Password'|trans }}" name="_password" />
				        </div>

				        <input type="checkbox" id="remember_me" name="_remember_me" checked />
    					<label for="remember_me" style="display:inline">{{ 'Keep me logged in'|trans }}</label>

    					<div class="clear">
    						<br />
				        	<input type="submit" class="btn" value="{{ 'LOGIN'|trans }}" />
				        </div>
				    </form>

				    <hr />
				    <a href="#">Forgot Password</a>
				</div>
			</div>
		</div>
	</fieldset>
{% endblock %}
